.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
/[Bb]uild/
*.mp4
/capture/*.mov
/capture/*.wav
/capture/*.mp4
/capture/*.pkf
ffmpeg.txt
ffmpeg-audio.txt
